.login{
    margin-top: 1rem !important;
    padding: 6rem;
}
.nav-item .active{
    font-size: larger;
    border-radius: 0 !important;
    color: var(--primary) !important;
    background-color: white !important;
    font-weight: bold;
    border-color: white white var(--primary) white !important;
}
.nav-item .btn-gray{
    font-size: larger;
    border-radius: 0 !important;
    color: var(--secondary) ;
    background-color: white !important;
    font-weight: bold;
    border-color: white white var(--secondary) white ;
}

.btn-gray:not(:disabled):not(.disabled).active:focus, .btn-gray:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}
@media (max-width: 991px){
    .login{
        margin-top: 6rem !important;
        padding: 1px;
    }
}
.iti__flag-box, .iti__country-name {
    margin-right: 6px;
    color: black;
    font-weight: 600;
}
.iti{
    width: 100%;
}

.btn-gray:not(:disabled):not(.disabled):active {
    color: var(--primary); 
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 5px !important;
}

.btnGoogle:hover, .btnGoogle:focus {
    opacity: 0.8;
}