


.answer-image {
    display: inline-block;
/* margin-left: 40%;*/
}
.form-check-input:checked {
    background-color: #00815e;
    border-color: #00815e;
}
.checked-success{
    /* margin-top: 2px; */
    background: #c3e6cb;
    padding-top: 6px;
    /* padding-left: -5px; */
    position: relative;
    /* max-height: 30px; */
    border-radius: 5px;
}
.checked-danger{
    background: #f8d7da;
    /*margin-top: 2px;*/
    padding-top: 6px;
    /* padding-left: -5px; */
    position: relative;
    /* max-height: 30px; */
    border-radius: 5px;
}
.form-label{
    padding-top: 10px;

}
/* table code css */

figure.table table {
    margin: auto;
    min-width: 300px;
    max-width: 100%;
    border-collapse: collapse;
}

figure.table tr:first-child {
    border-top: none;
    background: #428bca;
    color: #fff;
}

figure.table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f5f9fc;
}

figure.table td:first-child {
    margin-top: .5em;
}

figure.table td:last-child {
    margin-bottom: .5em;
}

figure.table td {
    text-align: left;
}

figure.table {
    color: #333;
    border-radius: .4em;
    overflow: hidden;
}

figure.table tr {
    border-color: #bfbfbf;
}

figure.table td {
    padding: .5em 1em;
}

figure.image{
    text-align: center;
}
input[type=text]:disabled {
background: #ffffff;
}
.form-check .form-check-input {
    float: left;
    margin-left: -0.5em;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}

.card-header.question{
    background-color: #3d4e671c;
    /* margin-left: -12px;
    margin-right: -12px;*/
    height: 90px;

}
.card-body .card-block .user-image img {
    z-index: 20;
    position: absolute;
    top: 5px;
    left: 5px;
        width: 100px;
    height: 100px;
}
.img-radius {
    border-radius: 50%;
}
.widget-26 {
    color: #3c4142;
    font-weight: 400;
}
.card-body .widget-26-job-category {
    padding: .5rem;
    display: inline-flex;
    white-space: nowrap;
    border-radius: 15px;
    margin-top: 10px;
}
.bg-soft-danger {
    background-color: #fedce0;
}
.card-body  .widget-26-job-category .indicator {
        width: 13px;
        height: 13px;
        margin-right: .5rem;
        float: left;
        border-radius: 50%;
}
.bg-danger {
    background-color: #dc3545 !important;
}
.card-body  .widget-26-job-category span {
    font-size: 0.8125rem;
    color: #3c4142;
    font-weight: 600;
}
.bg-success {
        background-color: #28a745 !important;
    }
.bg-soft-success {
    background-color: #d1f6f2;
}
.bg-soft-warning {
    background-color: #fff4e1;
}
.bg-warning {
    background-color: #ffc107 !important;
}
@media (max-width: 991px){

    .answer-image {
        margin-left: 75%;
    /* Réinitialise la marge supérieure pour les petits écrans si nécessaire */
    }

}
@media (max-width: 983px){
    .answer-image {
        margin-left: 75%;
    }

}



a:hover{
    color: #ffffff;
}



.section_padding_130 {
    padding-top: 130px;
    padding-bottom: 130px;
}
.faq_area {
    position: relative;
    z-index: 1;
    background-color: #f5f5ff;
}

.faq-accordian {
    position: relative;
    z-index: 1;
    padding-bottom: 2%;
}
.faq-accordian .card {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
}
.faq-accordian .card:last-child {
    margin-bottom: 0;
}
.faq-accordian .card .card-header {
    background-color: #e7f1ff;
    padding: 0;
    border-bottom-color: #ebebeb;
}
.faq-accordian .card .card-header h6 {
    cursor: pointer;
    padding: 1rem 2rem;
    color: #3f43fd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.faq-accordian .card .card-header h6 span {
    font-size: 1.5rem;
}
.faq-accordian .card .card-header h6.collapsed {
    color: #070a57;
}
.faq-accordian .card .card-header h6.collapsed span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faq-accordian .card .card-body {
    padding: 1.75rem 2rem;
}
.faq-accordian .card .card-body p:last-child {
    margin-bottom: 0;
}

.form-check {
     margin-bottom: 5px;
}
.form-check .row {
    padding-top: 0%;
    /* padding-left: 40px; */
}


.close-icon {
cursor: pointer;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.input-group-append {
    margin-left: -1px;
}
.input-group-append, .input-group-prepend {
    display: flex;
}

.input-group.input-group-append.input-group-text{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
@media (max-width: 991px){

    .form-group .text-right{
    margin-right: 1px;
}

}
@media (max-width: 983px){
    .form-group .text-right{
    margin-right: -20px;
}
.form-group a.toggle-active {
    font-size: 12px;
    color: #6a7680;
    padding: 0px 0px;
    line-height: 17px;
    position: relative;
}
.col-md-6.text-left{
    width:500px;
}
}
.badge {
    /* display: inline-block; */
    /* padding: 0.8em 2.45em;
    font-size: 0.90em; */
    /* padding: 0.5em 0.65em;
    font-size: 0.85em;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem; */
}
.bg-info {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
}
.bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgb(17 123 84) !important;
}
.bg-danger {
    --bs-bg-opacity: 1;
    background-color: rgb(230 67 63) !important;
}

.bg-dark-blue {
    --bs-bg-opacity: 1;
    background-color: #1a237e !important;
}